* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  border: 0;
}

*,
*:focus,
*:active {
  outline: none;
}

button {
  cursor: pointer;
}

@font-face {
  font-family: "Geometria";

  src: url("https://nomail.com.ua/files/woff/ad7e0cab75cee35de4a243d54368eaa5.woff") format("woff"),
    url("https://nomail.com.ua/files/eot/ad7e0cab75cee35de4a243d54368eaa5.eot?#iefix") format("embedded-opentype"),
    url("https://nomail.com.ua/files/woff/ad7e0cab75cee35de4a243d54368eaa5.woff") format("woff"),
    url("https://nomail.com.ua/files/woff2/ad7e0cab75cee35de4a243d54368eaa5.woff2") format("woff2");
}

@mixin text10 {
  color: #e65c7b;
  font-size: 10px;
  line-height: 15px;
}

@mixin text12 {
  color: #e65c7b;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
}

@mixin text14 {
  color: #e65c7b;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

@mixin text-fiol-10 {
  color: #8e80a9;
  font-weight: 500;
  font-size: 10px;
  line-height: 15px;
}

@mixin text-fiol-12 {
  color: #8e80a9;
  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
}

@mixin text-fiol-14 {
  color: #8e80a9;
  font-weight: bold;
  font-size: 14px;
  line-height: 14px;
}

@mixin text-fiol-16 {
  color: #8e80a9;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
}

@mixin text-fiol-18 {
  color: #8e80a9;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
}

@mixin text-fiol-20 {
  color: #8e80a9;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
}

@mixin text-fiol-21 {
  color: #8e80a9;
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
}

@mixin text-fiol-30 {
  color: #8e80a9;
  font-weight: bold;
  font-size: 30px;
  line-height: 30px;
}

@mixin center {
  width: 100%;
  max-width: 250px;
  margin: 0 auto;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Geometria", sans-serif;
  background: url("../images/body-background.jpg") no-repeat center top 0,
    #fcf8fe;
}

.header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  width: 100%;
  max-width: 290px;
  margin-top: 20px;

  &__menu {
    cursor: pointer;
  }

  &__menu-icon {
    width: 30px;
    height: 15px;
  }

  &__menu-text {
    display: none;
    @include text-fiol-12();
  }

  &__phone {
    color: #8b7eac;
    font-size: 12px;
    text-decoration: none;
  }
}

.main {
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
  background: url("../images/directions-background.svg") no-repeat top 450px left 0,
    url("../images/background-clouds.jpg") no-repeat top 1484px left 0,
    url("../images/team-background.svg") no-repeat top 2289px left 0,
    url("../images/tariffs-background.svg") no-repeat top 2082px left 6px;
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 254px;
  margin: 102px auto 70px;

  &__action {
    color: #8e80a9;
    font-size: 18px;
    font-family: "Caveat", cursive;
    line-height: 18px;
    text-align: center;
  }

  &__title {
    max-width: 254px;
    color: #ffffff;
    font-size: 67px;
    line-height: 65px;
    letter-spacing: 0.26em;
    text-align: center;
    text-shadow: 0 4px 50px rgba(131, 115, 161, 0.6);
  }

  &__free-lesson {
    display: flex;
    justify-content: space-between;
    width: 174px;
    margin-top: 19px;
  }

  &__button {
    width: 30px;
    height: 26px;
    background: url("../images/banner-button-icon2.svg") no-repeat center,
      #e65c7b;
    border: 0;
    outline: none;
  }

  &__free-lesson-text {
    display: flex;
    align-items: center;
    max-width: 137px;
    @include text10();
    line-height: 12px;
  }

  &__bottom {
    display: none;
    justify-content: space-between;
    max-width: 630px;
    width: 100%;
  }

  &__social-networks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 30px;
    width: 100%;
  }

  &__vk-link,
  &__twitter-link,
  &__facebook-link {
    display: flex;
    align-items: center;
  }
}

.directions {
  @include center();
  margin-bottom: 40px;

  &__title {
    @include text-fiol-18();
    margin-bottom: 40px;
    font-weight: bold;
    line-height: 18px;
  }

  &__show-all {
    display: none;
  }
}

.direction {
  height: 315px;
  margin-bottom: 30px;
  padding-top: 200px;
  background: #ffffff;
  box-shadow: 0 4px 25px rgba(142, 128, 169, 0.2);

  &__description {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 207px;
    padding: 20px 47px 20px 20px;
  }

  &__hatha-yoga {
    background: url("../images/direction1.jpg") no-repeat;
  }

  &__asatanga-yoga {
    background: url("../images/direction2.jpg") no-repeat;
  }

  &__kundalini-yoga {
    background: url("../images/direction3.jpg") no-repeat;
  }

  &__name {
    @include text-fiol-12();
  }

  &__date {
    @include text-fiol-10();
    line-height: 15px;
  }

  &__instruction {
    @include text10();
    line-height: 15px;
  }

  &__button {
    width: 43px;
    height: 115px;
    background: url("../images/banner-button-icon2.svg") no-repeat center,
      #8e80a9;
  }
}

.tariffs {
  @include center();

  &__title {
    @include text-fiol-18();
    margin-bottom: 40px;
  }

  &__list-time {
    display: flex;
    justify-content: space-between;

    @include text12();
    max-width: 222px;
    margin: auto;
  }

  &__one-month-list {
    margin-top: 30px;
  }

  &__time {
    cursor: pointer;
  }
}

.selected-time {
  position: relative;

  &::before {
    position: absolute;
    top: 15px;
    width: 45px;
    height: 1px;
    background: #e65c7b;
    content: "";
  }
}

.tariff {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 199px;
  margin-top: 30px;
  padding: 30px 51px;
  background: #ffffff;
  box-shadow: 0 4px 25px rgba(142, 128, 169, 0.2);

  &__name {
    @include text-fiol-16();
  }

  &__time {
    @include text10();
    text-align: center;
  }

  &__prise {
    @include text-fiol-18();
    text-align: center;
  }

  &__order {
    width: 100%;
    height: 34px;
    color: #ffffff;
    font-size: 10px;
    font-family: "Geometria", sans-serif;
    line-height: 20px;
    background: #8e80a9;
  }
}

.team {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 290px;
  margin: 100px auto 70px;

  &__title {
    @include text-fiol-18();
    margin-bottom: 40px;
  }

  &-button {
    position: absolute;
    top: 83px;
    width: 16px;
    height: 31px;
  }

  &__crewman-previous {
    left: 0;
    box-sizing: border-box;
    border: 1px solid #8e80a9;
    // background-color: none;
    background: url("../images/button-background-1.svg") no-repeat center;
  }

  &__crewman-next {
    right: 0;
    background: url("../images/button-background-2.svg") no-repeat center, #8e80a9;
  }
}

.crewman {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 228px;
  height: 412px;

  &__info {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
    width: 100%;
    max-width: 290px;
    height: 82px;
    padding: 20px 20px 20px 97px;
    background: url("../images/Instructor-photo.jpg") no-repeat, #ffffff;
    background-color: #ffffff;
    box-shadow: 0 4px 25px rgba(142, 128, 169, 0.2);
  }

  &__name {
    display: flex;
    align-items: center;
    height: 23px;
    line-height: 14px;

    @include text10();
  }

  &__vk-link {
    width: 16px;
    height: 10px;
    background: url("../images/vk-logo.svg") no-repeat center;
  }

  &__direction {
    display: flex;
    align-items: flex-end;
    line-height: 7px;

    @include text-fiol-10();
  }

  &__twitter-link {
    width: 18px;
    height: 12px;
    background: url("../images/twitter-logo.svg") no-repeat center;
  }

  &__experience {
    @include text10();
    margin: 25px 0 20px;
    line-height: 10px;
  }

  &__description {
    @include text-fiol-10();
    width: 100%;
    max-width: 228px;
    margin: 0 auto;
    line-height: 15px;
  }
}

.reviews {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include center();

  &__title {
    @include text-fiol-18();
    margin-bottom: 40px;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 105px;
    height: 16px;
    margin-bottom: 70px;
  }

  &__previous {
    box-sizing: border-box;
    width: 31px;
    height: 16px;
    border: 1px solid #8e80a9;
    background: url("../images/button-background-1.svg") no-repeat center top 2.4px;
  }

  &__number {
    @include text-fiol-12();
  }

  &__next {
    width: 31px;
    height: 16px;
    background: url("../images/button-background-2.svg") no-repeat center top 2.5px, #8e80a9;
  }
}

.review {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 30px;
  padding: 60px 15px 30px;
  background: url("../images/review-background.svg") no-repeat left 15px top 15px,
    #ffffff;
  box-shadow: 0 4px 25px rgba(142, 128, 169, 0.2);

  &:nth-child(2),
  &:nth-child(3),
  &:nth-child(4) {
    display: none;
  }

  &__text {
    @include text-fiol-10();
    font-weight: 500;
    margin-bottom: 29px;
  }

  &__info {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    height: 52px;
    padding-left: 65px;
    max-width: 153px;
    background: url("../images/review-photo.jpg") no-repeat;
    background-size: 52px 51px;
  }

  &__photo {
    float: left;
    margin-right: 13px;
  }

  &__name {
    @include text10();
  }

  &__date {
    @include text-fiol-10();
    margin-right: 30px;
  }

  &__vk {
    width: 13px;
    height: 8px;
    margin-top: 1px;
    margin-right: 11px;
    background: url("../images/vk-logo.svg") no-repeat center/cover;
  }

  &__twitter {
    width: 15px;
    height: 10px;
    background: url("../images/twitter-logo.svg") no-repeat center/cover;
  }
}

.free {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 70px 35px;
  background: url("../images/free-background-320.jpg") no-repeat center;

  &__title {
    @include text-fiol-18();
    margin-bottom: 35px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 250px;
  height: 172px;

  &__name,
  &__phone {
    width: 100%;
    height: 25px;
    background: none;
    border-bottom: 1px solid #8e80a9;
  }

  &__name::placeholder,
  &__phone::placeholder {
    color: #c8c0db;
    font-size: 14px;
    font-family: "Geometria", sans-serif;
    line-height: 20px;
  }

  &__send {
    width: 100%;
    height: 56px;
    color: #ffffff;
    font-size: 14px;
    line-height: 20px;
    background: #e65c7b;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // max-width: 320px;
  height: 427px;
  padding: 50px 104px 50px 35px;
  background: #8373a1;

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
  }

  &__text,
  &__number {
    color: #ffffff;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
  }

  &__info {
    color: #ffffff;
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
  }

  &__link {
    color: #ffffff;
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
  }

  &__bottom {
    color: rgba(255, 255, 255, 0.5);
    font-size: 12px;
    line-height: 20px;

    &-link {
      color: rgba(255, 255, 255, 0.5);
    }
  }
}

.social-networks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 114px;
  height: 21px;
  margin-right: 200px;

  &__vk {
    width: 25px;
    height: 15px;
    background: url("../images/footer-vk.svg") no-repeat center;
  }

  &__twitter {
    width: 29px;
    height: 20px;
    background: url("../images/footer-twitter.svg") no-repeat center;
  }

  &__facebook {
    width: 10px;
    height: 21px;
    background: url("../images/footer-facebook.svg") no-repeat center;
  }
}

@media (min-width: 321px) {
  body {
    background: url("../images/banner-background-768.jpg") no-repeat center top 0,
      #fcf8fe;
  }

  .main {
    max-width: 768px;
  }

  .header {
    max-width: 623px;

    &__menu {
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 55px;
      width: 100%;
    }

    &__menu-icon {
      width: 13px;
      height: 7px;
    }

    &__menu-text {
      display: block;
    }
  }

  .banner {
    max-width: 623px;

    &__action {
      font-size: 24px;
    }

    &__title {
      font-size: 144px;
      line-height: 144px;
      max-width: 545px;
      text-align: center;
      letter-spacing: 0.34em;
    }

    &__free-lesson {
      margin-bottom: 59px;
    }

    &__bottom {
      display: flex;
    }

    &__city {
      display: flex;
      align-items: center;
      @include text-fiol-12();
    }
  }

  .directions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 623px;

    &__title {
      width: 100%;
      font-size: 21px;
    }

    &__show-all {
      display: block;
      height: 32px;
      width: 100%;
      background: #ffffff;
      box-shadow: 0px 4px 25px rgba(142, 128, 169, 0.2);
      @include text-fiol-10();
      font-family: "Geometria", sans-serif;
    }
  }

  .direction {
    position: relative;

    &__hatha-yoga {
      width: 250px;
      height: 316px;
      margin-bottom: 0;
    }

    &__asatanga-yoga,
    &__kundalini-yoga {
      width: 353px;
      height: 127px;
      padding-top: 0;
      padding-left: 159px;
      background-size: contain;
      margin-bottom: 15px;
    }

    &__description {
      height: 100%;
    }

    &__text {
      padding-right: 13px;
    }

    &__asatanga-yoga button,
    &__kundalini-yoga button {
      position: absolute;
      width: 30px;
      height: 20px;
      bottom: 25px;
      right: 25px;
    }
  }

  .tariffs {
    max-width: 623px;

    &__one-month-list {
      display: flex;
      justify-content: space-between;
    }
  }

  .tariff {
    width: 176px;
    height: 159px;
    padding: 36px 40px;

    &:nth-child(2) {
      width: 221px;
      height: 221px;
      padding: 36px 36px 38px;

      & button {
        display: block;
      }
    }

    &__name {
      @include text-fiol-18();
    }

    &__prise {
      @include text-fiol-21();
    }

    &__order {
      display: none;
    }
  }

  .team {
    max-width: 623px;
  }

  .reviews {
    max-width: 442px;

    &__button {
      height: 19px;
    }
  }

  .review {
    padding: 72px 57px 30px 87px;
    background-position: 87px 34px;

    &:nth-child(2) {
      display: block;
    }

    &__text {
      @include text-fiol-12();
      font-weight: 500;
      line-height: 20px;
    }

    &__name {
      @include text12();
      font-weight: 500;
    }
  }

  .free {
    background: url("../images/free-background-768.jpg");

    &__title {
      max-width: 411px;
      @include text-fiol-30();
    }
  }

  .form {
    max-width: 411px;
    width: 100%;
    height: 214px;
  }

  .footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: initial;
    padding: 75px 356px 75px 76px;

    &__list {
      width: 100%;
      height: 114px;
      flex-wrap: wrap;
      align-content: space-between;
      justify-content: space-between;
    }

    &__bottom-link {
      margin-right: 44px;
    }
  }
}

@media (min-width: 769px) {
  body {
    background: url("../images/banner-background-1440.jpg") no-repeat center top 0;
  }

  .header {
    max-width: 1160px;
  }

  .main {
    max-width: initial;
  }

  .banner {
    max-width: 1160px;

    &__action {
      font-size: 45px;
    }

    &__title {
      font-size: 265px;
      line-height: 265px;
      max-width: 1069px;
    }

    &__free-lesson {
      width: 260px;

      &-text {
        @include text14();
        max-width: 191px;
      }
    }

    &__button {
      width: 56px;
      height: 48px;
    }

    &__bottom {
      max-width: initial;
    }

    &__social-networks {
      max-width: 57px;
    }

    &__vk-icon {
      width: 13px;
      height: 8px;
    }

    &__twitter-icon {
      width: 15px;
      height: 10px;
    }

    &__facebook-icon {
      width: 5px;
      height: 11px;
    }

    &__city {
      @include text-fiol-16();
    }
  }

  .directions {
    max-width: 1257px;
    padding: 63px 199px 86px 133px;

    &__title {
      @include text-fiol-30();
      margin-bottom: 65px;
    }

    &__right {
      max-width: 525px;
      width: 100%;

      .direction {
        width: 100%;
        height: 180px;

        &__text {
          padding: 33px 101px 33px 33px;
        }
      }
    }

    &__show-all {
      height: 48px;
    }
  }

  .direction {
    &__hatha-yoga {
      width: 366px;
      height: 493px;
      padding-top: 311px;
      background: url("../images/direction1-background-1440.jpg") no-repeat center top 0;
    }

    &__asatanga-yoga {
      padding-left: 220px;
      margin-bottom: 26px;
      background: url("../images/direction2-background-1440.jpg") no-repeat;
    }

    &__kundalini-yoga {
      padding-left: 220px;
      margin-bottom: 57px;
      background: url("../images/direction3-background-1440.jpg") no-repeat;
    }

    &__button {
      width: 64px;
      height: 100%;
    }

    &__text {
      max-width: initial;
      padding: 42px 85px 26px 46px;
    }

    &__name {
      @include text-fiol-16();
      text-align: initial;
    }

    &__date {
      @include text-fiol-12();
    }

    &__instruction {
      @include text12();
    }
  }

  .tariffs {
    max-width: 286px;
    max-width: 931px;

    &__title {
      @include text-fiol-30();
      margin-bottom: 54px;
    }

    &__list-time {
      max-width: 286px;
    }
  }

  .tariff {
    width: 263px;
    height: 237px;
    padding: 58px 0 54px;

    &:nth-child(2) {
      width: 331px;
      height: 331px;
      padding: 58px 54px;

      button {
        height: 52px;
      }
    }

    &__time {
      @include text12();
    }

    &__prise {
      @include text-fiol-30();
    }
  }

  .reviews {
    position: relative;
    max-width: 943px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

    &__title {
      @include text-fiol-30();
      margin-bottom: 62px;
      width: 100%;
    }

    &__button {
      position: absolute;
      top: 234px;
      width: 100%;
      height: 30px;
      margin-bottom: 0;

      button {
        height: 100%;
        width: 45px;
      }
    }

    &__number {
      display: none;
    }
  }

  .review {
    max-width: 442px;
    margin-bottom: 0;
    height: 315px;
    padding: 72px 57px 30px 87px;
  }
}